
DJANGO_SECRET_KEY=example_secret_key
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1

EMAIL_HOST=smtp.sendgrid.net
EMAIL_PORT=587
EMAIL_HOST_USER=apikey
EMAIL_HOST_PASSWORD=SG.-api.key.example
EMAIL_USE_TLS=true

DEFAULT_FROM_EMAIL=Metricaz <contato@metricaz.com>
CONTACT_DIGEST_TO=comercial@metricaz.com
